<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>PokePic</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
  <script src="https://use.fontawesome.com/5cd833ef09.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript" defer></script>
</head>

<body>
  <!-- HEADING -->
  <section class = "hero has-background-info-light has-text-centered">
    <div class = "hero-body">
      <img src="https://i.ibb.co/7V6P6pt/pokepic.png" alt="pokepic" border="0">
    </div>
  </section>

  <!-- USER INPUT -->
  <section class="">
    <div class= "{{user_input_class}}">
    <script src=
'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js'>
    </script>
    <div class="container">
      <section class="section">
        <h2 class="title">Enter Pokemon Name</h2>
        <p class="subtitle">
          Generate artwork based on a Pokémon of your choosing! Please enter the name of a Pokémon:
        </p>
        <p id="message">{{message}}</p>

        <form method="POST" action="">
          <div class="searchBox">
            <input id="poke-input" name="poke-input" type="text" autofocus placeholder="Pokemon name"/>
          </div>
          <br>
          <div class="inlineForm">
            <div>
              <button class="btn" id="search" type="submit">Submit</button>
              <form method="post">
                <input class="rand_btn" type="submit" name="submit_button" value="Random">
              </form>
            </div>
          </div>
        </form>

        

        <br><br><br>
        <p class="subtitle">To view previously generated artwork <a href="/gallery">Click here</a></p>
      </section>
    </div>
    <div class="leadership-board">
        <h3 class="title lb">Leadership Board</h2>
        <table>
          <thead>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            {% for index in range(top_five|length) %}
              {% set pokemon = top_five[index] %}
              <tr>
                <td>{{ index + 1 }}</td>
                <td>{{ pokemon[0] }}</td>
                <td>{{ pokemon[1] }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
  </div>
  </section>

  <!-- ACCORDIAN EFFECT -->
  <section class="images">
    <div class="{{img_class}}">
    	<figure>
    	 <img src="{{img_url1}}" alt="image01" />
    	 <input id="img1" type="radio" name="radio-set" checked="checked" />
    	 <figure>
    		<img src="{{img_url2}}" alt="image02" />
    		<input type="radio" name="radio-set" />
    	  <figure>
    		  <img src="{{img_url3}}" alt="image03" />
    		  <input type="radio" name="radio-set" />
    	  </figure>
    	 </figure>
      </figure>
    <p class="title img_name">{{name}}</p>
    </div>
  </section>

  <!-- BUTTON -->
  <section class="">
    <div class="{{reset_class}}">
      <div class='columns is-mobile is-centered'>
        <div class='column is-5'>
          <button class="button has-text-dark is-info is-light is-rounded">
                <span>Click here to try again</span>
          </button>
        </div>
      </div>
    </div>
  </section>  

</body>
</html>
